<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin panel</title>
  <link rel="stylesheet" href="public/styles/shared.css">
  <link rel="stylesheet" href="public/styles/admin.css">
  <script src="public/scripts/shared.js" defer></script>
</head>

<body>
  <div id="container">
    <aside id="sidebar" class="bg-panel">
      <div>
        <div id="close-menu">CC</div>
        <h1 class="text-primary">FamBoard</h1>
      </div>
      <nav>
        <ul>
          <li class="text-label">
            <a href="/dashboard">Dashboard</a>
          </li>
          <li class="text-label">
            <a href="/messageboard">Message board</a>
          </li>
          <li class="text-label">
            <a href="/calendar">Calendar</a>
          </li>
          <li class="text-primary">
            <a href="/admin">Admin panel</a>
          </li>
        </ul>
      </nav>
      <button id="log-out" class="btn-danger">Log out</button>
    </aside>
    
    <main id="main-content" class="bg-dark">
      <div id="mobile-header" class="mobile-header bg-panel">
        <div id="menu">MM</div>
        <h1 class="text-primary">FamBoard</h1>
      </div>

      <h1 class="text-primary">Admin page</h1>
      
      <section>
        <h2 class="text-label">Users</h2>
        
        <div id="user-card-container">
          <div class="bg-panel user-card">
            <span class="text-label">User 1</span>
            <button class="btn-danger">Delete</button>
          </div>
          <div class="bg-panel user-card">
            <span class="text-label">User 2</span>
            <button class="btn-danger">Delete</button>
          </div>
        </div>

        <button id="add-user" class="btn-primary">Add user</button>
      </section>
    </main>
  </div>
</body>
  
</html>
