<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin panel</title>
  <link rel="stylesheet" href="public/styles/shared.css">
  <link rel="stylesheet" href="public/styles/admin.css">
  <script src="public/scripts/shared.js" defer></script>
  <script src="public/scripts/admin.js" defer></script>
</head>

<body>
  <div id="container">
    <aside id="sidebar" class="bg-panel">
      <div>
        <div id="close-menu">CC</div>
        <h1 class="text-primary">FamBoard</h1>
      </div>
      <nav>
        <ul>
          <li class="text-label">
            <a href="/dashboard">Dashboard</a>
          </li>
          <li class="text-label">
            <a href="/messageboard">Message board</a>
          </li>
          <li class="text-label">
            <a href="/calendar">Calendar</a>
          </li>
          <li class="text-primary">
            <a href="/admin">Admin panel</a>
          </li>
        </ul>
      </nav>
      <button id="log-out" class="btn-danger">Log out</button>
    </aside>
    
    <main id="main-content" class="bg-dark">
      <div id="mobile-header" class="mobile-header bg-panel">
        <div id="menu">MM</div>
        <h1 class="text-primary">FamBoard</h1>
      </div>

      <h1 class="text-primary">Admin page</h1>
      
      <section>
        <h2 class="text-label">Users</h2>
        
        <div id="user-card-container">
        </div>

        <button id="add-user" class="btn-primary">Add user</button>
      </section>
    </main>
  </div>

  <div class="modal-overlay">
    <div class="modal">
      <h2 class="text-primary">Add user</h2>
      <form onsubmit="return false;">
        <div class="form-item">
          <label for="first-name-input" class="text-label">First name</label><br>
          <input
            class="input text-label"
            type="text"
            id="first-name-input"
            name="first-name-input"
            placeholder="First name"
            required
          >
        </div>
        <div class="form-item">
          <label for="surname-input" class="text-label">Surname</label><br>
          <input
            class="input text-label"
            type="text"
            id="surname-input"
            name="surname-input"
            placeholder="Surname"
            required
          >
        </div>
        <div class="form-item">
          <label for="email-input" class="text-label">Email</label><br>
          <input
            class="input text-label"
            type="email"
            id="email-input"
            name="email-input"
            placeholder="Email"
            required
          >
        </div>
        <div class="form-item">
          <label for="password-input" class="text-label">Password</label><br>
          <input
            class="input text-label"
            type="password"
            id="password-input"
            name="password-input"
            placeholder="Password"
            required
          >
        </div>
        <div class="form-item">
          <button id="add-user-action" class="btn-primary">Add user</button>
        </div>
      </form>
      <button id="cancel-action" class="btn-danger">Cancel</button>
    </div>
  </div>

  <template id="user-card-template">
    <div class="bg-panel user-card">
      <span class="text-label name"></span>
      <button class="action"></button>
    </div>
  </template>
</body>
  
</html>
