<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/styles/shared.css">
  <link rel="stylesheet" href="public/styles/login.css">
  <title>Login</title>
</head>

<body>
  <div class="login-page">
    <h1 class="text-primary login-page-title">FamBoard</h1>

    <form class="form" onsubmit="return false;">
      <div class="form-field">
        <label for="email" class="text-muted">Email</label><br>
        <input class="input" type="email" id="email" placeholder="Enter your email" required>
      </div>

      <div class="form-field">
        <label for="password" class="text-muted">Password</label><br>
        <input class="input" type="password" id="password" placeholder="Enter your password" required>
      </div>

      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</body>

</html>
