.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-sm) calc(var(--space-md) + var(--space-xs));
  border-radius: var(--border-radius);
  background-color: var(--color-bg-panel);
}

.user-card-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.user-card-list + .btn {
  margin-top: var(--space-md);
}