#add-user {
  margin-top: 20px;
}

.user-card {
  padding: 10px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}